	/*algemeen*/
body {
	margin: 0px;
	padding: 0px;	
}

article {
	background-color:white;
}
a{
	font-size:30pt;
}

a:link { 
	color:red;
	text-decoration: none;
	
 }
		
a:visited {
	color: red;
}
		
a:hover{
	color:red;
	text-decoration: underline;
}
		
a:active {
	color:pink;
}

h1 {
	font-family: avenir, sans-serif;
}

	

	
h6 {
	color: red;
	font-family:avenir, sans-serif ;
	text-align:left;
	font-size: 20px;
}

p {
	 font-family: avenir,sans-serif;
}



section {
height: 100%;
text-align: center;
overflow: scroll;
}
		


/*header*/
header{
	width: 100%;
	height: 120px;
	font-family: avenir, sans-serif;
	display: flex;
	align-items: center;
}

img.menu{
	margin-left: 2%;
	margin-top: 0px;

}

img.logo{
	height: 70px;
	margin-top: 10px;
	margin-left: 10% ;
	margin-right: 20px;
	align-items: center;
}

nav {
	color: red;
	font-family: avenir, sans-serif;
	padding-left: 10px;
	padding-top: 0px;
}

a.menunl{
	font-size: 30pt;
	text-align: left;
	margin-left: 70px;
}

a.menueng{
	font-size: 30pt;
	text-align: left;
	margin-left: 70px;
}

/*footer*/

footer{
	background-color: red;
	color:white;	
	font-family: avenir, sans-serif;
	height: 70px;
	padding-top: 25px;
	margin-top: 40px;

}


footer.add{
	background-color: white;
	color:red;	
	font-family: avenir, sans-serif;
	height: 60px;
	margin-top:170px;
	padding-top: 10px;
}



a.footer1{
	color: white;
	font-size: 25pt;
	margin-left: 30px;
}
		
a.footeradd{
	color: red;
	font-size: 25pt;
	margin-left: 30px;
}

a.footer2{
	color: white;
	font-size: 25pt;
	margin-left: 200px;
}

a.footer2nl{
	color: white;
	font-size: 25pt;
	margin-left: 130px;
}

a.addword{
	color: white;
	font-size: 25pt;
	margin-left: 250px;
}

a.toevoegen{
	color: white;
	font-size: 25pt;
	margin-left: 200px;

}


/*index*/	
.recepten{
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1.recept {
	font-size: 50pt ;
	width: 100%;
	height: 110px;
	background-color: red;
	color: white;
	font-family: avenir, sans-serif;
	text-align:center;
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

article.boerenkool {
	display: inline-flex;
	align-items: center;
	height: fit-content;
	margin-top: 50px;
}

article.hutspot{
	display: inline-flex;
	height: fit-content;
	align-items: center;
	margin-top: 50px;

}

article.locked{
	height: fit-content;
	display: inline-flex;
	align-items: center;
	margin-top: 50px;
}



/*recepten*/
	
main{
	height: 100%;
	overflow: auto;

}

img.afbeelding{
	width:100%;

}

h1.rech1 {
	font-size: 80pt;
	background-color: white;
	color: red;
	font-family: avenir, sans-serif;
	text-align:left;
	width:0;
	margin-left: 60px;
	margin-top: 30px;
	margin-bottom: 0px;
}


p.info1{
	font-size: 20pt;
	text-align:left;
	margin-left: 60px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.info2{
	margin-top: 0px;
	font-size: 20pt;
	text-align:left;
	margin-left: 60px;
	color: red;
	margin-bottom: 0px;
}

article.ingredienten{
	background-color: red;
	width: 80%;
	margin-left: 6%;
	height: 260px;
	margin-bottom: 40px;
}

ul {
	color:white;
	font-size: 20pt;
	list-style-type: disc;
	font-family: avenir, sans-serif;
	margin-left: 25px;
	padding-top: 15px;
}

ol {
	font-family: avenir, sans-serif;
	list-style-position: inside ;
	font-size: 20pt;
	margin-bottom: 20px;
	margin-top:10px;
	list-style-position: outside;
	
}

li.afstand{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
article.bereiding{
	width: 80%;
	margin-top: 20px;
	margin-left: 30px;
	height: 120px;
	background-color: white;
}


/*add new word*/
section.addword{
	background-color: red;
	height: 1000px;	
	width: 60%;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 0px ;
}

form {
	margin-top: 20px;
	margin-left: 20px ;
	color: white;
	height: 800px ;
	width: 80%;
	text-align: left;
}

input[type=button]{
	background-color: white;
	font-size: 20pt;
	color:red;
	height: 40px;
	width: 20%;
	margin-top: 340px;
	margin-left: 70px;
	display: block;
}

h2.newword {
	visibility: visible;
	font-size: 40pt;
	color: white ;
	padding-top: 20px;
	margin-left: 0px;

}

label{
	font-family: avenir, sans-serif;
	display: block;
	font-size: 30pt;
	margin-top: 15pt;
	margin-left: 70px;
	text-align: left;
}
	
input[type=text]{
	color:white;
	width: 50%;
	height: 20px;
	margin-top: 10px;
	margin-left: 70px;
	display: block;
}

select {
	background-color:white;
	width: 50%;
	height: 35px;
	font-size: 20pt;
	margin-top: 10px;
	margin-left: 70px;
	display: block;
	cursor: pointer;
}




/*congratz pagina*/

h2.congr {
	visibility: visible;
	font-size: 40pt;
	color: white ;
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;


}

p.congr {
	font-size: 25pt;
	font-style: italic;
	color: white ;
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
}

a.button{
	font-size: 30pt;
	color: red;
	width: 100%;
	height: 110px;
	background-color: white;
	font-family: avenir,sans-serif;
	display: block;
	text-align: center;
	font-weight: bold;
	padding-top: 50px;
	margin-top: 491px;
}


h2{
	color: red;
	font-family:avenir, sans-serif;
	visibility: hidden;
	font-size: 0pt;
}
	
/*menu*/
section.menu{
	background-color:red;
	width: 50%;
	height: 100vh;
	color:white;
	display: inline-block;
	margin-right: 0px;

}

h1.menu{
	font-family:avenir, sans-serif;
	font-size: 50pt;
	color:white;
	text-align: left;
	margin-left:40px;
	margin-top:30px;
	margin-bottom:0px;
}

ul.menulist{
	margin-left: 0px;
	margin-top:0px;

}
	
li.linkmen{
	list-style: none;
	text-align: left;
	margin-left: 0px;

}

a.menulinks{
	font-family:avenir, sans-serif;
	font-size: 30pt;
	color:white;
	text-align: left;
	margin-left: 0px;
}

img.menuinklap{
	display: inline-block;
	width: 48%;
	height: 100vh;
	background-color: red;
	margin-left: 0px;

}

/*my words */
main.tablemywords{
	height: 970px;
	margin-bottom: 0px;

}

table{
	width: 50%;
	margin-left: 260px;
	margin-top: 200px;
	text-align: left;
	font-family: avenir, sans-serif;

}

footer.learned{
	height: 300px;

}

tr{
	margin-bottom: 50px;
	height: 30px;
}

th.engels{
	font-family:avenir, sans-serif;
	color: red;
	font-size: 35pt;
	margin-right: 10px;
}

th.nederlands{
	font-family:avenir, sans-serif;
	color: red;
	font-size: 35pt;
}

td.woord{
	font-family:avenir, sans-serif;
	color: red;
	font-size: 30pt;
}

td.meervoud{
	font-family: avenir, sans-serif;
	font-size: 20pt;
}

td.uitspraak{
	font-family: avenir, sans-serif;
	font-size: 25pt;
}

p.learnedwords{
	font-family: avenir, sans-serif ;
	text-align: center;
	font-size: 40pt;
	color: white;
}

p.moretounlock{
	font-family: avenir, sans-serif ;
	text-align: center;
	font-size: 30pt;
	color: white;
}

	
	

	

	

	

	

	
	

	

	

	

	

	
	
	